<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>LOCKDOWN HOUSIE</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">      
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <style>
            #f1{
                display:none;
            }
            div{
                word-wrap: break-word;
            }
        </style>
 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script>
            $(function(){
                $('#btn1').click(function() {
                    var aprams = ""
                    $.ajax({
                        url: '/adminapi',
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                            var obj = JSON.parse(response)
                            $("#adminrecentnum").text(obj.numcalled)
                            $("#adminrecentlist").text(obj.numlist)
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
            })
        </script>

    </head>
    <body>
        <br>
        <div class="container-fluid">
            <div>
                <h2 class="text-center">LOCKDOWN HOUSIE</h2>
            </div>
            <br>
            <div>
                <form class="form-signin" action="/adminapi" method="POST" role="form">
                    <input id="f1" type="email" name="username" class="form-control" placeholder="Email address">
                    <button id="btn1" class="btn btn-lg btn-primary btn-block" type="button">GENERATE NEXT NUMBER</button>
                </form>
                <br>
            </div>
            <div>
                <h2>NUMBERS CALLED:<span id="adminrecentlist"></span></h2>
            </div>
            <div>
                <h2>RECENT NUMBER CALLED:<span id="adminrecentnum"></span></h2>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>